@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Oswald", ui-sans-serif, system-ui, sans-serif;

  --color-buckeye-red: #E31E24;
  --color-buckeye-gray: #6D6E71;
  --color-buckeye-brown: #8B4513;
  --color-buckeye-black: #000000;
}

body {
  font-family: var(--font-sans);
  color: var(--color-buckeye-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  text-transform: uppercase;
}
